
body {
  background-color: #604980;

}
* {
    margin: 0;
}
img {
    height: 50px;
    width: 50px;
    border: 2px solid lightgray;
}
.gallery {
    display: flex;
    gap: 5px;
}
h3 {
    font-size:20px;
}